<html>
<link rel="stylesheet" type="text/css" href="stylesheets/homepage/NDHomePage.css">
<body data-brackets-id="4">
 
    <header class='menu' style='padding-top: 0px; padding-left: 0px; height: 20px;'>
        <h2 style='font-size: 22px; transform: translateY(-5px);'>
            <span style='float: left; padding-left: 30px; font-size: 30px;'><a href = "#" style = "text-decoration: none; color: white;"><strong><span style = "color: rgb(255,0,75)">N</span><span style="color: rgb(150,0,255);">&Delta;</span></strong>
            </a>
            </span>
            <span style='float: right; padding-right: 39%; color: white;'><a href = "http://nudelta.mit.edu/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href = "http://nudelta.mit.edu/brothers">Brothers</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href = "http://nudelta.mit.edu/house">Our House</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href = "http://nudelta.mit.edu/alumni">Alumni</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href = "http://nudelta.mit.edu/sisters">Sisters</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href = "http://nudelta.mit.edu/about">About Us</a></span>
        </h2>
    </header>
    <div data-brackets-id="5" class="divwithimg">
        <div class="heading">
            <h3 data-brackets-id="6" style="font-weight: 500; padding-left: 9%; padding-top: 20%; color: rgb(255,0,75); font-size: 250px; text-align: left;"><span style = "position: absolute; left: 0; padding-left: 5%;">Nu Delta</span><span style="color: rgb(150,0,255); position: absolute; right: 0; padding-right: 5%;">Fraternity</span></h3>
            <div class = "shade"></div>
        </div>
    </div>

    <div data-brackets-id="13" class="section1">
        <h1 data-brackets-id="14" style="font-weight: 500; color: white; text-align: center; font-size: 70px;">&nbsp;A Word From Our President&nbsp;</h1>
        <div class="img1">
            <p style="color: white; font-size: 30px; font-style: italic; transform: translateY(-80px) translateX(820px);">Fabrice A. Fils-Aime</p>
            <p style="color: white; font-size: 30px; transform: translateY(-150px) translateX(820px);"><strong style="font-size: 40px;">H</strong>ere at Nu Delta I’ve found a sense of brotherhood. During these uncertain<br>times we truly appreciate the strength and support our communities give us.<br>I am grateful that this community cares about me. I want to give back to this<br>Nu Delta community that has given so much to me. Moving forward we will<br>continue to foster our community, making it even stronger, and ensuring that<br>as times change and members come and go, students here in the Boston area<br>will always be able to find a strong community here at Nu Delta.</p>
        </div>
    </div>

    <div data-brackets-id="19" class="section2">
        <h1 data-brackets-id="20" style="font-weight: 500; color: white; text-align: center; font-size: 70px;">&nbsp;Brothers&nbsp;</h1>
        <div class="img2">
        </div>
        <p style="font-size: 30px; color: white; transform: translateY(-120px); text-align: center"><strong style="font-size: 40px;">T</strong>he brothers of Nu Delta share a tight bond that brings<br>us together and promotes our success as individuals. </p>
        <div class = "backimgshadetop"></div>
        <div class = "backimgleft1"></div>
        <div class = "backimgright1"></div>
    </div>

    <div data-brackets-id="25" class="section3">
        <h1 data-brackets-id="26" style="font-weight: 500; color: white; text-align: center; font-size: 70px;">&nbsp;Our House&nbsp;</h1>
        <div class="img3">
        </div>
        <p style="font-size: 30px; color: white; transform: translateY(-120px); text-align: center;"><strong style="font-size: 40px;">M</strong>any of the brothers reside in our lovely 4 story mansion located at<br>460 Beacon Street in Boston. For many of the brothers, this is where our<br>fondest MIT memories are made, so we take great pride in our house. </p>
        <div class = "backimgleft2"></div>
        <div class = "backimgright2"></div>
        <div class = "backimgleft3"></div>
        <div class = "backimgright3"></div>
        <div class = "backimgshadebottom"></div>
    </div>
    
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <script>
        $("#node-1 > div > div > div > div > p:nth-child(1)").remove()
        $("#node-1 > div > div > div > div > p:nth-child(3)").remove()
        $("#node-1 > div > div > div > div > p:nth-child(2)").remove()
        $("#node-1 > div > div > div > div > div > header > p").remove()
        $('#node-1 > div > div > div > div > div > header > h2 > br:nth-child(4)').remove()
        $('#node-1 > div > div > div > div > div > header > h2 > br:nth-child(2)').remove()

        $(document).ready();
    </script>
</body>
</html>