<table id="wordPresTable">
  <tr>
    <td width="300">
      <img src="images/homepage/william-pres.jpg" class="imgShadow presPic">
    </td>
    <td id="wordPresCol">
      <legend class="nameLegend">
        <h1 id="wordPresLegendText">A Word From the President</h1>
      </legend>
      <i id="wordPresName">William T. Little</i>
    </td>
  </tr>
</table>
<div id="wordPresText">
  <h3>
    <span style="font-size:48px">N</span>
    u Delta is a close, nurturing community that has become my second family over the past three years. MIT is a difficult place, so has been so important to build these strong relationships with my brothers​. They have shown me that life is more than problem sets and exams, and I am glad that I not only became a part of this community, but also its president. I am excited to lead this group of brothers who inspire each other to be the best versions of themselves every day. My goal as president is to continue building bonds not just between brothers, but also with the greater MIT community. I want this to continue to be a welcoming place for our community, and I am excited for us to continue representing Nu Delta and MIT with pride and integrity.
  </h3>
</div>

<div class="feedSection brothersFeedSection">
  <h2>  
    <ts text="Brothers"></ts>
  </h2>
  <div class="feedImageCont brotherFeedImageCont">
    <a href="/brothers">
      <img class="imgShadow feedImage brotherFeedImage" src="images/homepage/Mainehouse2018.jpg">
    </a>
  </div>
  <div class="sectionText">
    <h3>The brothers of Nu Delta share a tight bond that brings us together, and promotes our success as individuals.  To learn more about the individual brothers, click the image above.</h3>
  </div>
</div>

<div class="feedSection houseFeedSection">
  <h2>  
    <ts text="House"></ts>
  </h2>
  <div class="feedImageCont houseFeedImageCont">
    <a href="/house">
      <img class="imgShadow feedImage houseFeedImage" src="images/house/houseImgs/CharlesView.jpg">
    </a>
  </div>
  <div class="sectionText">
    <h3>Many of the brothers reside in our lovely 4 story mansion located at 460 Beacon Street in Boston.  For many of the brothers, this is where our fondest MIT memories are made, so we take great pride in our house.  Click on the view from our roofdeck shown above to learn more about the house!</h3>
  </div>
</div>
